
mat-sidenav-content {
  display: flex;
  flex-direction: column;
}
mat-nav-list{
  padding-bottom: 35px;
}

.chat-box{
  position: absolute;
  top: 65px;
  width: 100%;
  overflow: auto;
  height:  calc(100% - 125px);
}
.mat-sidenav-container {
  height: calc(100% - 65px);
}
